.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 65px 5px 0;
}

.header__phrase {
  max-width: 1032px;
  height: 100%;
  margin-top: 77px;
  padding-bottom: 20px;
  font-family: Jura;
  font-size: 38px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
