.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 208px;
}
@media screen and (max-width: 920px) {
    .portfolio {
        margin-top: 100px;
    }
}

.portfolio__title {
  margin-bottom: 95px;
  font-family: Jura;
  font-size: 95px;
  font-weight: 600;
  line-height: 113px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 1295px) {
    .portfolio__title {
        font-size: 72px;
        line-height: 82px;
    }
}
@media screen and (max-width: 920px) {
    .portfolio__title {
        font-size: 62px;
        line-height: 72px;
        margin-bottom: 70px;
    }
}
@media screen and (max-width: 480px) {
    .portfolio__title {
        font-size: 42px;
        line-height: 62px;
        margin-bottom: 50px;
    }
}

.portfolio__container {
  display: flex;
  justify-content: center;
  max-width: 1270px;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 409px;
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(134.74deg, #004f5a 32.41%, #3fe8ff 94.77%);
}

.example__image {
  width: 100%;
  object-fit: cover;
}

.example__name {
  max-width: 357px;
  width: 100%;
  font-family: Raleway;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  padding: 10px 0;
}
@media screen and (max-width: 480px) {
    .example__name {
        font-size: 22px;
        line-height: 29px;
    }
}
